.footer {
  @include backgroundImageStar;
  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1px;

    &-copyright-img img {
      width: 10px;
      height: 10px;
    }
    
    &-copyright {
      margin-bottom: 13px;
      font-family: $font-text-menu-add-lastcard;
      font-size: 10px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.05em;
      color: rgba($white, 0.5);
    }

    &-copyright.hidden,
    &-copyright-img.hidden img {
      display: none;
    }
  }
}
