.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  background-color: $color-text-page-block-2;
  z-index: 100;

  &__hamburger-lines {
    @include flexColumnCenter;
    justify-content: space-between;
    gap: 4px;
    width: 24px;
    position: absolute;
    top: 17px;
    left: 15px;
    z-index: 2;
    cursor: pointer;
  }

  &__hamburger-lines .line {
    @include hamburgerLine;
    transition: $time;
  }

  &__hamburger-lines.active .line {
    transform: scale(0);
  }

  &__logo {
    display: flex;
    // justify-content: normal;
    align-items: center;

    &-img {
      width: 48px;
      height: 44px;
      margin-left: 30px;
    }

    &-title {
      @include titleMain;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-shadow: none;
      margin-left: 10px;

      @include min(sm) {
        font-size: 18px;
      }

      @include min(md) {
          font-size: 24px;
        }
    }
   
  }

  .menu {
    transform: translate(-150%);
    padding: 110px 23px 0 23px;
    width: 100%;
    min-height: 100vh;
    opacity: 2;
    transition: transform $time ease-in-out;
    background-color: $black;

    &__close-img {
      width: 28px;
      height: 28px;
      position: fixed;
      top: 18px;
      right: 13px;
      cursor: pointer;
    }

    &__items {
      display: flex;
      flex-direction: column;
      gap: 27px;
      position: absolute;
      margin: 0 auto;
    }

    &__items a {
      color: $white;
      font-family: $font-text-menu-add-lastcard;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;

      @include min(sm) {
        font-size: 24px;
      }

      &:hover {
        color: $yellow-menu-hover;
      }
    }
  }
  .menu.active {
    transform: translate(0);
    transition: $time;
  }
}
