.hero {
  display: flex;
  @include backgroundImageStar;
  padding-top: 27px;
  padding-bottom: 11px;
  min-height: calc(100vh - 46px);
  .container {
    @include flexColumnCenter;
    justify-content: space-between;
    gap: 30px;
  }
  &__top {
    @include flexColumnCenter;

    &-subtitle {
      font-family: $font-text;
      text-align: center;
      color: $white;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.05em;
      margin-bottom: 40px;

      @include min(md) {
        font-size: 30px;
      }
    }

    &-title {
      @include titleMain;
      max-width: 270px;

      @include min(md) {
        font-size: 43px;
        line-height: 44px;
        max-width: 362px;
      }
    }
  }
  &__logo-foto {
    width: 50%;
  }

  &__bottom {
    @include flexColumnCenter;
    text-align: center;
    &-text {
      font-family: $font-text;
      font-weight: 700;
      font-size: 15px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.05em;
      color: $yellow;
      max-width: 250px;
      min-height: 81px;
      margin-bottom: 11px;

      @include min(md) {
        font-size: 22px;
        line-height: 22px;
        max-width: 360px;
      }
      @include min(lg) {
        font-size: 24px;
        line-height: 24px;
        max-width: 393px;
      }

      &-white {
        font-family: $font-text-add-first-page;
        font-weight: 400;
        color: $white;
      }
    }
    &-details-ellipse {
      border-radius: 50%;
      background-color: $white;
      background-image: url(../img/up_arrow.png);
      background-size: 8px 8px;
      background-position: center;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
    }

    &-details-title {
      font-family: $font-text;
      font-weight: 400;
      font-size: 8px;
      line-height: 11px;
      text-align: center;
      letter-spacing: 0.05em;
      margin-top: 3px;
      color: $white;
    }
  }
  .btn {
    @include btn;
    margin-bottom: 22px;
  }
}
