.infoblock-1 {
  background-color: rgba(243, 243, 242, 0.8);
  padding: 38px 11px 40px 11px;

  &__content {
    margin-bottom: 38px;
    font-family: $font-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: $color-text-page-block-1;
    max-width: 260px;

    &-bold-black-big-word {
      font-weight: 700;
      text-transform: uppercase;
    }

    &-bold-black {
      font-weight: 700;
    }

    @include min(md) {
      font-size: 24px;
      line-height: 25px;
      max-width: none;
    }
  }

  &__foto {
    text-align: center;
  }
  &__foto img {
    width: 232px;
    height: 180px;

    @include min(md) {
      width: 340px;
      height: 240px;
    }
  }
  &__btn {
    margin-top: 30px;
    text-align: center;
  }
  .btn-big {
    @include btn;
    width: 200px;
    height: 44px;
    border-radius: 50px;
    box-shadow: none;
  }
}
