.infoblock-2 {
  position: relative;
  @include backgroundImageStar;
  padding: 56px 12px 52px 12px;

  // @include min(sm) {
  //   padding-top: 187px;
  //   min-height: 800px;
  // }
  // @include min(lg) {
  //   padding-top: 183px;
  //   min-height: 800px;
  // }
  //  &::before {
  //   content: "";
  //   position: absolute;
  //   background-image: url(../img/lightning_up.png);
  //     top: 0px;
  //     right: 0px;
  //     width: 123px;
  //     height: 123px;
  //     opacity: 3;
  //     z-index: 185;
  // }
  &__content-top {
    margin-bottom: 14px;
    max-width: 250px;
    font-family: $font-text-add-first-page;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: $white;

    &-bold-yellow {
      font-weight: 900;
      color: $yellow;
    }

    &-bold-white {
      font-weight: 900;
    }

    @include min(md) {
      font-size: 24px;
      line-height: 25px;
      max-width: none;
    }
  }

  &__decor-lighting-up {
    @include decorLighting;
    top: 48px;
    right: 0px;
  }

  &__decor-lighting-down {
    @include decorLighting;
    bottom: 85px;
    left: 0px;
  }

  &__content-center {
    margin-bottom: 33px;
    padding: 29px 15px 31px 14px;
    font-family: $font-text-add-first-page;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: $color-text-page-block-2;
    text-align: center;
    background-color: rgba(243, 243, 242, 0.8);
    border-radius: 20px;

    &-bold-black {
      font-weight: 700;
    }

    @include min(md) {
      font-size: 24px;
      line-height: 25px;
    }
  }

  &__btn {
    text-align: center;
  }
  .btn-big {
    @include btn;
    background-color: rgba(243, 243, 242, 0);
    border: 1px solid $white;
    color: $white;
  }
}
