.quote {
  background-image: url(../img/bg_quote.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 83px 36px 28px 36px;
  min-height: 339px;

  &__content {
    position: relative;
    margin: 0 auto;
    font-family: $font-heading;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.05em;
    color: $white;

    @include min(sm) {
      font-size: 24px;
      line-height: 25px;
    }

    @include min(md) {
      font-size: 35px;
      line-height: 34px;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(../img/quote_up.svg);
      top: -43px;
      left: -25px;
      width: 23px;
      height: 23px;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url(../img/quote_down.svg);
      bottom: -15px;
      right: 0px;
      width: 23px;
      height: 23px;
    }
  }
}
