.page-2 {
  .steps {
    position: relative;
    @include backgroundImageStar;
    padding-top: 63px;
    padding-bottom: 25px;
    min-height: 100vh;

    .progress {
      position: relative;
      display: block;
      width: 100%;
      height: 11px;
      margin: 0 auto;
      border-radius: 11px;
      background-color: $color-load-lable-rectangle;

      &__value {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 11px;
        background-color: $color-load-line;
      }
    }
    .steps-button {
      text-align: center;
    }

    .btn-silver {
      @include btn;
      background-color: $color-line-burger-btn-next;
      margin-bottom: 22px;

      &:hover {
        background-color: $yellow;
        color: $color-text-btn-page;
      }
      &.active {
        background-color: $yellow;
        color: $color-text-btn-page;
      }
    }
    .btn-silver.hidden {
      display: none;
    }

    &__result {
      padding-top: 18px;

      &:not(.active) {
        display: none;
      }
      &-title {
        margin-bottom: 13px;
        font-family: $font-text;
        font-weight: 700;
        font-size: 15px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $white;

        @include min(md) {
          font-size: 24px;
        }
      }
      &-content {
        @include flexColumnCenter;

        &-text {
          font-family: $font-text;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
          color: $white;
          margin-bottom: 22px;
          &-decoration-line {
            text-decoration-line: underline;
          }

          @include min(md) {
            font-size: 20px;
          }
        }
        &-text-green {
          font-family: $font-text;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: $color-load-line;
          margin-bottom: 12px;

          @include min(md) {
            font-size: 24px;
          }
        }

        &-text-personal-data {
          padding: 15px 12px 11px;
          margin: 0 auto;
          margin-bottom: 2px;
          font-family: $font-text-menu-add-lastcard;
          font-weight: 500;
          font-size: 8px;
          line-height: 14px;
          text-align: center;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: $white;
          width: 256px;
          min-height: 114px;
          background-color: $color-laspage-block-text;
          border-radius: 6px;

          @include min(md) {
            font-size: 12px;
            width: 310px;
          }
        }
        &-text-countdown {
          margin: 2px 0px;
          font-family: $font-text;
          font-weight: 400;
          font-size: 11px;
          line-height: 30px;
          text-align: center;
          letter-spacing: 0.1em;
          color: $color-load-line;

          @include min(md) {
            font-size: 14px;
          }
        }

        &-countdown {
          display: flex;
          margin-bottom: 6px;
          font-family: $font-text;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          letter-spacing: 0.1em;
          color: $color-load-line;

          &-item {
            margin: 0 4px;
          }

          @include min(md) {
            font-size: 33px;
          }
        }
        &-decor-lighting-left {
          position: absolute;
          width: 102px;
          height: 95px;
          bottom: 220px;
          left: 0px;
        }
        &-decor-lighting-right {
          position: absolute;
          width: 107px;
          height: 109px;
          bottom: 177px;
          right: 0px;
        }
        .seconds {
          margin-right: 6px;
        }
        .btn-call {
          display: flex;
          width: 290px;
          min-height: 92px;
          text-align: center;
          z-index: 3;
          margin-bottom: 117px;
        }
        .btn-call-red {
          padding-left: 19px;
          font-family: $font-text-menu-add-lastcard;
          font-weight: 900;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.05em;
          text-align: center;
          background-color: $color-background-call;
          background-image: url(../img/telefon.png);
          background-size: 29px 29px;
          background-position: 15px 30px;
          background-repeat: no-repeat;
          color: $white;
          border-radius: 5px;
        }
        #datas-list {
          font-family: $font-text;
          font-weight: 400;
          font-size: 20px;
          line-height: 30px;
          text-align: center;
          letter-spacing: 0.1em;
          color: $white;

          @include min(md) {
            font-size: 24px;
          }
        }
        &-footer {
          max-width: 229px;
          position: absolute;
          bottom: 0;
          font-family: $font-text-menu-add-lastcard;
          font-weight: 400;
          font-size: 7px;
          line-height: 9px;
          text-align: center;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }

  .step {
    &:not(.active) {
      display: none;
    }

    @include min(md) {
      @include flexColumnCenter;
    }

    &__title {
      margin: 101px 0 38px;
      font-weight: 400;
      font-family: $font-text;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 0.05em;
      color: $white;

      @include min(sm) {
        font-size: 24px;
      }
      @include min(md) {
        font-size: 31px;
        line-height: 31px;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 152px;
    }
    .answer-options {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 39px;
      padding: 12px 5px 12px 35px;
      background-color: rgba($color-load-lable-rectangle, 0.15);
      cursor: pointer;
      transition: transform $time ease-in-out;

      &:hover {
        background-color: $yellow;
      }

      @include min(md) {
        min-width: 650px;
      }
    }
    .answer-options span {
      font-family: $font-text;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      cursor: pointer;
      letter-spacing: 0.05em;
      color: $white;
      transition: transform $time ease-in-out;

      &:hover {
        color: $color-text-page-block-1;
      }
    }
    .answer-options input[type="radio"] {
      appearance: none;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid $white;
      border-radius: 50%;

      &:checked {
        background-color: blue;
      }
    }

    .block-squares {
      padding: 0 26px 0 27px;
      text-align: center;
    }
    .colored-squares {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 24px 21px;
    }
    .square {
      width: 75px;
      height: 75px;
      cursor: pointer;
    }
    .square.active {
      width: 81px;
      height: 81px;
      border: 3px solid $yellow;
    }
    .square input[type="radio"] {
      display: none;
    }
    .square-grey {
      background-color: $color-square-grey;
    }
    .square-blue {
      background-color: $color-square-blue;
    }
    .square-green {
      background-color: $color-square-green;
    }
    .square-red {
      background-color: $color-square-red;
    }
    .square-yellow {
      background-color: $color-square-yellow;
    }
    .square-brown {
      background-color: $color-square-brown;
    }
    .square-black {
      background-color: $black;
    }
    .square-violet {
      background-color: $color-square-violet;
    }
    .square-turquoise {
      background-color: $color-square-turquoise;
    }

    .form-img {
      text-align: center;
    }
    .form-img-people {
      width: 185px;
      height: 235px;
      margin-bottom: 23px;

      @include min(md) {
        width: 245px;
        height: 260px;
      }
    }
    .answer-options-squares {
      display: flex;
      justify-content: space-around;
      gap: 29px;
      cursor: pointer;
    }
    .answer-options-item {
      width: 41px;
      height: 42px;
      padding: 6px;
      background-color: $white;
      font-family: $font-text;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      text-transform: capitalize;
      color: $color-text-btn-page;
    }
    .answer-options-item input[type="radio"] {
      display: none;
    }
    .answer-options-item.active {
      padding: 0px;
      border: 6px solid $yellow;
    }
    .form-img-cube {
      width: 173px;
      height: 115px;
      margin-bottom: 16px;

      @include min(md) {
        width: 220px;
        height: 195px;
      }
    }
    .form-img-star {
      width: 228px;
      height: 207px;
      margin-bottom: 24px;
    }
    .line {
      width: 100%;
      height: 4px;
      margin-bottom: 19px;
      background-color: rgba($color-load-lable-rectangle, 0.15);
    }
    .preloader {
      display: none;
      margin-bottom: 28px;
      text-align: center;

      &__image {
        position: relative;
        top: 50%;
        left: 0;
        width: 65px;
        height: 69px;
        animation: preloader-rotate 2s infinite linear;
      }
    }

    @keyframes preloader-rotate {
      100% {
        transform: rotate(1turn);
      }
    }

    .preloader.loaded {
      display: block;
    }
    .preloader-text {
      font-family: $font-text;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.05em;
      color: $white;
    }
  }
}
