/* pt-serif-regular - cyrillic_latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'PT Serif';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/pt-serif-v17-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('../fonts/pt-serif-v17-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* pt-serif-700 - cyrillic_latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'PT Serif';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/pt-serif-v17-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('../fonts/pt-serif-v17-cyrillic_latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }

   /* yeseva-one-regular - cyrillic_latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Yeseva One';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/yeseva-one-v20-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
     src: url('../fonts/yeseva-one-v20-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/yeseva-one-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/yeseva-one-v20-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/yeseva-one-v20-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/yeseva-one-v20-cyrillic_latin-regular.svg#YesevaOne') format('svg'); /* Legacy iOS */
   }

   /* merriweather-sans-regular - latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Merriweather Sans';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/merriweather-sans-v22-latin-regular.eot'); /* IE9 Compat Modes */
     src: url('../fonts/merriweather-sans-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/merriweather-sans-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/merriweather-sans-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/merriweather-sans-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/merriweather-sans-v22-latin-regular.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
   }
   /* merriweather-sans-700 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Merriweather Sans';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/merriweather-sans-v22-latin-700.eot'); /* IE9 Compat Modes */
     src: url('../fonts/merriweather-sans-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/merriweather-sans-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/merriweather-sans-v22-latin-700.woff') format('woff'), /* Modern Browsers */
          url('../fonts/merriweather-sans-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/merriweather-sans-v22-latin-700.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
   }
   /* merriweather-sans-800 - latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Merriweather Sans';
     font-style: normal;
     font-weight: 800;
     src: url('../fonts/merriweather-sans-v22-latin-800.eot'); /* IE9 Compat Modes */
     src: url('../fonts/merriweather-sans-v22-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/merriweather-sans-v22-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/merriweather-sans-v22-latin-800.woff') format('woff'), /* Modern Browsers */
          url('../fonts/merriweather-sans-v22-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/merriweather-sans-v22-latin-800.svg#MerriweatherSans') format('svg'); /* Legacy iOS */
   }

   /* roboto-300 - cyrillic_latin */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     src: url('../fonts/roboto-v30-cyrillic_latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('../fonts/roboto-v30-cyrillic_latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* roboto-regular - cyrillic_latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('../fonts/roboto-v30-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* roboto-500 - cyrillic_latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('../fonts/roboto-v30-cyrillic_latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   /* roboto-900 - cyrillic_latin */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     src: url('../fonts/roboto-v30-cyrillic_latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
          url('../fonts/roboto-v30-cyrillic_latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }