@mixin flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin hamburgerLine {
  display: block;
  height: 3px;
  width: 100%;
  background-color: $color-line-burger-btn-next;
}

@mixin titleMain {
  color: $yellow;
  font-family: $font-heading;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin btn {
  width: 189px;
  height: 41px;
  background-color: $yellow;
  border-radius: 20px;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  color: $color-text-btn-page;
  font-family: $font-text-add-first-page;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin backgroundImageStar {
  background-image: url(../img/bg_stars.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin decorLighting {
  position: absolute;
  width: 165px;
  height: 165px;
  opacity: 0.8;
}
