// colors
$white: #FFFFFF;
$black: #000000;
$color-line-burger-btn-next: #DADADA;
$yellow-menu-hover:#F4CE0C;
$yellow: #FFC700;
$color-text-btn-next: #8E8E8E;
$color-text-btn-page: #0D0C11;
$color-text-page-block-1: #272727;
$color-text-page-block-2: #181818;
$color-load-lable-rectangle: #F2F3F3;
$color-load-line: #3BDE7C;
$color-input-hover: #2950C2;
$color-square-grey: #A8A8A8;
$color-square-blue: #0000A9;
$color-square-green: #00A701;
$color-square-red: #F60100;
$color-square-yellow: #FDFF19;
$color-square-brown: #A95403;
$color-square-violet: #850068;
$color-square-turquoise: #46B2AC;
$color-background-call: #EB1B00;
$color-laspage-block-text: #1C2741;




// Fonts -------------------------------------------
$font-heading: "Yeseva One", sans-serif;
$font-text: "PT Serif", sans-serif;
$font-text-add-first-page: "Merriweather", sans-serif;
$font-text-menu-add-lastcard: "Roboto", sans-serif;

// Transitions -------------------------------------------
$time: 0.3s;

// Grid breakpoints -------------------------------------------
// for min-width = values, for max-width = value - 1px.
// example: @include min(lg) = @media (min-width: 993px)
// example: @include max(lg) = @media (max-width: 992px)
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
