html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  background-color: $white;
  padding-top: 46px;
  color: $black;
  font-family: $font-text;
  line-height: 1.5;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.hidden {
  display: none;
}

.is-page-1 {
  .page-2, .navbar__logo {
    display: none;
  }
}

.is-page-2 {
  .page-1 {
    display: none;
    
  }
}